.mpPlayer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mpProgBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  container-type: inline-size;
}

.mpExtra {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;
  gap: 1rem;
}

.mpRandom {
  width: 2rem;
  height: 2rem;
}

.mpVolumeInput {
  accent-color: var(--mp-color-primary);
}

.mpFill {
  fill: var(--mp-color-primary);
}

.mpProgBarInput {
  margin: 0 1rem;
  width: 100%;
  accent-color: var(--mp-color-primary);
}

.mpProgBarCurrTime,
.mpProgBarDuration {
  font-size: var(--mp-font-size-2xl);
}

.mpControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  min-width: 40rem;

  container-type: inline-size;
}

.mpControlsIcon {
  cursor: pointer;
  font-size: var(--mp-font-size-2xl);
}

/* Covering generally all the mobile devices */
@media only screen and (max-width: 768px) {
  .mpPlayer {
    background-color: var(--mp-background-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1.5rem;

    box-shadow: var(--mp-box-shadow-top);
  }
  .mpControls {
    margin: 0;
    min-width: unset;
    margin: 1rem 0;
  }

  .mpControlsIcon {
    font-size: var(--mp-font-size-xl);
  }

  .mpProgBarCurrTime,
  .mpProgBarDuration {
    font-size: var(--mp-font-size-xl);
  }

  @supports (font-size: 1cqi) {
    :is(.mpControlsIcon) {
      font-size: 10cqi;
    }

    :is(.mpProgBarCurrTime, .mpProgBarDuration) {
      font-size: 7cqi;
    }
  }
}
