/* ASIDE MENU */
.mpAside {
  display: flex;
  flex-direction: column;

  box-shadow: var(--mp-box-shadow);

  padding: 2rem;

  overflow-x: auto;
  resize: horizontal;
}

.mpAsideList {
  padding-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  .mpAside {
    border-right: 1px solid var(--mp-text-color);
  }
}

.mpLogo {
  height: 4rem;
  pointer-events: none;
}

.mpAsideHeader {
  display: flex;
  align-items: center;
  gap: 2rem;

  container-type: inline-size;
}

@supports (font-size: 1cqi) {
  :is(.mpTitle) {
    font-size: 10cqi;
  }
  :is(.mpLogo) {
    height: 15cqi;
  }
}

/* Covering generally all the mobile devices */
@media only screen and (max-width: 768px) {
  .mpAside {
    min-width: 100%;
    box-shadow: none;
    border: none;
    resize: unset;
    overflow-x: unset;

    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }
}
