.mpSong {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;

  border: 1px solid #eaeaea;
  border-radius: 0.75rem;

  overflow: hidden;

  cursor: pointer;

  container-type: inline-size;
}

.mpSong:hover,
.mpSong:focus {
  transform: scale(1.05);
  box-shadow: var(--mp-box-shadow-light);
}

.mpSongSelected {
  transform: scale(1);
  background-color: var(--mp-color-primary);
  color: white;
}

.mpCover {
  height: 5rem;
}

@supports (font-size: 1cqi) {
  :is(.mpCover) {
    height: 20cqi;
  }
  :is(.mpName) {
    font-size: 7cqi;
  }
  :is(.mpArtist) {
    font-size: 5cqi;
  }
}
